<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344927391387-bfeld7pm01ujk83sq2d7uj3b6n0m2392.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344927391387-bfeld7pm01ujk83sq2d7uj3b6n0m2392</string>
	<key>API_KEY</key>
	<string>AIzaSyClZbhj62QU7ERc3KMFyUBXIFTwzy0GPJk</string>
	<key>GCM_SENDER_ID</key>
	<string>344927391387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emart</string>
	<key>PROJECT_ID</key>
	<string>emart-bbb09</string>
	<key>STORAGE_BUCKET</key>
	<string>emart-bbb09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344927391387:ios:bae22cfc7454489a08c03e</string>
</dict>
</plist>